Introduction

In [2]:
import pandas as pd
import numpy as np
#mengubah data google sheet menjadi csv
game_sales = 'https://docs.google.com/spreadsheets/d/10poofg-l8DMdtUgGy8mOpra2IHmA9EQC7drmF9AyYHA/edit#gid=1485085913'
game_sales_csv = game_sales.replace('edit#gid=','export?format=csv&gid=')
print(game_sales_csv)

https://docs.google.com/spreadsheets/d/10poofg-l8DMdtUgGy8mOpra2IHmA9EQC7drmF9AyYHA/export?format=csv&gid=1485085913

Read and cleaning data

1. Read data

In [3]:
df=pd.read_csv(game_sales_csv)
df.head()

,Name,Sales,Series,Release,Genre,Developer,Publisher
0,PlayerUnknown's Battlegrounds,42.0,NaN,12/1/2017,Battle royale,PUBG Studios,Krafton
1,Minecraft,33.0,Minecraft,11/1/2011,"Sandbox, survival",Mojang Studios,Mojang Studios
2,Diablo III,20.0,Diablo,5/1/2012,Action role-playing,Blizzard Entertainment,Blizzard Entertainment
3,Garry's Mod,20.0,NaN,11/1/2006,Sandbox,Facepunch Studios,Valve
4,Terraria,17.2,NaN,5/1/2011,Action-adventure,Re-Logic,Re-Logic

In [ ]:
#membaca tipe data
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       177 non-null    object
 1   Sales      177 non-null    float64
 2   Series     141 non-null    object
 3   Release    177 non-null    object
 4   Genre      177 non-null    object
 5   Developer  177 non-null    object
 6   Publisher  177 non-null    object
dtypes: float64(1), object(6)
memory usage: 9.8+ KB

Index(['Name', 'Sales', 'Series', 'Release', 'Genre', 'Developer',
       'Publisher'],
      dtype='object')

2. Cleaning data

In [ ]:
#mengubah type data kolom release menjadi datetime
df_cleaned = df.copy()
df_cleaned['Release'] = pd.to_datetime(df_cleaned['Release'])

print(df_cleaned.info())
print(df_cleaned.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       177 non-null    object
 1   Sales      177 non-null    float64
 2   Series     141 non-null    object
 3   Release    177 non-null    datetime64[ns]
 4   Genre      177 non-null    object
 5   Developer  177 non-null    object
 6   Publisher  177 non-null    object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 9.8+ KB
None
Index(['Name', 'Sales', 'Series', 'Release', 'Genre', 'Developer',
       'Publisher'],
      dtype='object')

In [ ]:
df_cleaned.isna().sum()

Name          0
Sales         0
Series       36
Release       0
Genre         0
Developer     0
Publisher     0
dtype: int64

In [ ]:
#menghapus data pada baris yang memiliki null
df_new = df_cleaned.dropna(axis=0)

In [ ]:
df_new.isna().sum()
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141 entries, 1 to 176
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       141 non-null    object
 1   Sales      141 non-null    float64
 2   Series     141 non-null    object
 3   Release    141 non-null    datetime64[ns]
 4   Genre      141 non-null    object
 5   Developer  141 non-null    object
 6   Publisher  141 non-null    object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 8.8+ KB

Menentukan game terbaru dan terdahulu

In [ ]:
print('The oldest game \t:', df_new.Release.min())
print('The newst game \t:', df_new.Release.max())

The oldest game 	: 1984-12-01 00:00:00
The newst game 	: 2020-09-01 00:00:00

THANK YOU 😀